{% extends "layout.twig" %}

{% block head %}

<title>Me contacter</title>
{% endblock %}

{% block content %}

<h1>Me contacter</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni officiis numquam fugiat omnis aliquam veritatis eos
    quam, tempora aut sit vitae, iusto ad fugit ipsum blanditiis? Omnis accusamus dolores pariatur.</p>

{% endblock %}